<p id="notice"><%= notice %></p>

<h1>Placetypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @placetypes.each do |placetype| %>
      <tr>
        <td><%= placetype.name %></td>
        <td><%= link_to 'Show', placetype %></td>
        <td><%= link_to 'Edit', edit_placetype_path(placetype) %></td>
        <td><%= link_to 'Destroy', placetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @placetypes %>

<br>

<%= link_to 'New Placetype', new_placetype_path %>

<br>

<%= form_tag({controller: "foods", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "保管場所を一括インポート" %>
<% end %>
