<p id="notice"><%= notice %></p>

<h1>Counttypes</h1>

<table>
  <thead>
    <tr>
      <th>Counttype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counttypes.each do |counttype| %>
      <tr>
        <td><%= counttype.counttype %></td>
        <td><%= link_to 'Show', counttype %></td>
        <td><%= link_to 'Edit', edit_counttype_path(counttype) %></td>
        <td><%= link_to 'Destroy', counttype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counttype', new_counttype_path %>
