<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :food %>
    <%= form.collection_select(:food, Foodtype.all, :name, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.collection_select(:place, Placetype.all, :name, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.collection_select(:count, Count.all, :count, :count, include_blank: true) %><%= form.collection_select(:counttype, Counttype.all, :counttype, :counttype, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
