<p id="notice"><%= notice %></p>

<h1>Foodtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodtypes.each do |foodtype| %>
      <tr>
        <td><%= foodtype.name %></td>
        <td><%= link_to 'Show', foodtype %></td>
        <td><%= link_to 'Edit', edit_foodtype_path(foodtype) %></td>
        <td><%= link_to 'Destroy', foodtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @foodtypes %>

<br>

<%= link_to 'New Foodtype', new_foodtype_path %>

<br>

<%= form_tag({controller: "foods", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "食品群類を一括インポート" %>
<% end %>
