<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "FoodsChecker", root_path, :class => "navbar-brand" %>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "食品群類", foodtypes_path %></li>
        <li><%= link_to "保管場所", placetypes_path %></li>
        <li><%= link_to "ソースコード", "https://github.com/S-H-GAMELINKS/FoodsChecker" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>