<!DOCTYPE html>
<html>
  <head>
    <title>FoodsChecker</title>
    <%= render 'layouts/def'%>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div align=center>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
